.shop-category {
  display: block;
  margin: 30px auto;
  width: 80%;
}

.shop-category-index-indexSort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}

.shop-category-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}

.shop-category-index-indexSort p span {
  font-weight: 600;
}

.shop-category-products {
  margin: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
}

.shop-category-load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background-color: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 1280px) {
  .shop-category {
    margin: 20px auto;
    width: 90%;
  }
  .shop-category-index-indexSort {
    width: 90%;
    margin: auto;
  }
  .shop-category-sort {
    padding: 5px 10px;
    font-size: 12px;
  }
  .shop-category-index-indexSort p {
    font-size: 12px;
  }
  .shop-category-products {
    width: 90;
    margin: 10px auto;
    row-gap: 40px;
  }
  .shop-category-products .item {
    margin: auto;
  }
  .shop-category-load-more {
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .shop-category {
    width: 95%;
  }
  .shop-category-products {
    width: 95%;
  }
  .shop-category-load-more {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}
@media (max-width:500px){
  .shop-category-products{
    grid-template-columns: 1fr 1fr;
  }
}
